//colors
$color_alto_approx: #dddddd;
$color_silver_approx: #bcbcbc;
$color_tapa_approx: #777777;
$color_gallery_approx: #eeeeee;
$white: #ffffff;
$black: #000000;
$red: #cc3333;
$color_celeste_approx: #cccccc;
$color_mine_shaft_approx: #333333;
$color_mercury_approx: #e6e6e6;
$color_silver_chalice_approx: #adadad;
$yellow: #ffff00;
$gray: #808080;
$color_tundora_approx: #454545;
$color_delta_approx: #a2a2a2;
$color_mine_shaft_approx: #333;
$color_emperor_approx: #4d4d4d;
$color_gravel_approx: hsl(0, 0%, 30%);


//fonts
$font_main: 'Open Sans', sans-serif;